body {
    overflow-x: hidden;
}

#main_view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main_canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bottom_menu {
    position: absolute;
    bottom: 0;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    display: none;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);

}

.menu_button {
    background-color: transparent;
    flex: 1;
    height: 100%;
    font-size: large;
    color: white;
    border: 0px;
}